body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}
body {
    font-family: 'Roboto', sans-serif;
}

.login-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    width: 100%;
    max-width: 400px;
    text-align: center;
}
.login-box button {
    padding: 12px;
    font-size: 1rem;
    color: #fff;
    background-color: #2575fc;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}


.login-box button:hover {
    background-color: #1a5bb8;
}

.login-with-google {
    padding: 12px;
    font-size: 1rem;
    color: #fff;
    background-color: #db4437;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-with-google:hover {
    background-color: #a3362a;
}


.login-box input::placeholder {
    color: #ccc;
}
header h1 {
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
    flex: 1 1 calc(30% - 30px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.product p {
    font-size: 1em;
    color: #333;
}

.product button {
    background: #35424a;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.product button:hover {
    background: #45a049;
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}